# Loops Practice Questions

This notebook contains all practice questions related to loops in Python.

## Question 1: Hello World 10 Times
Print "Hello world" 10 times

In [4]:
num = 1
while (num <=10):
    print("Hello World!")
    num = num+1
print("\n")
# 
for i in range(1,11):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!


Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

## Question 2: Reverse Order Numbers
Print numbers from 10 to 1 in reverse order

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

## Question 3: Search Number in Tuple
Search a number x in tuple

In [12]:
x = int(input("Enter number:"))
num = (1,4,9,16,25,36,49,64,81,100)

for i in num:
    if x == i:
        print(f"{x} is found")
        break
else:
    print(f"{x} not found")

81 is found

## Question 4: Skip Number 5
Print numbers from 1 to 10 but skip 5

In [27]:
for i in range(1,11):
    if i == 5:
        continue
    
    else:
        print(i)

1
2
3
4
6
7
8
9
10

## Question 5: Stop at 7
Print numbers from 1 to 50 but stop at 7

In [29]:
i = 1
while (i <=50):
    if i == 7:
        break
    else:
        print(i)
    i = i+1
print("\n")
for i in range(1,51):
    if i == 7:
        break
    else:
        print(i)

1
2
3
4
5
6


1
2
3
4
5
6

## Question 6: Sum of Natural Numbers
Sum of first n natural numbers using while loop

In [33]:
n = int(input("Enter num:"))

sum = 0
i = 1

while(i<n):
    sum = sum+i
    i = i+1
print(f"Sum of natural number is {sum}")

Sum of natural number is 990

## Question 7: Odd and Even (While Loop)
Print odd and even numbers using while loop

In [38]:
i = 1

while(i<20):
    if i%2 ==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
    i = i+1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd

## Question 8: Odd and Even (For Loop)
Print odd and even numbers using for loop

In [39]:
for i in range(1,21):
    if i%2!=0:
        print("odd = ",i)
    else:
        print("Even = ",i)

odd =  1
Even =  2
odd =  3
Even =  4
odd =  5
Even =  6
odd =  7
Even =  8
odd =  9
Even =  10
odd =  11
Even =  12
odd =  13
Even =  14
odd =  15
Even =  16
odd =  17
Even =  18
odd =  19
Even =  20

## Question 9: Multiplication Table (While Loop)
Multiplication table using while loop

In [41]:
num = int(input("Enter num:"))

i = 1
while (i<=20):
    print(f"{num}*{i} = {num*i}")
    i = i+1

78*1 = 78
78*2 = 156
78*3 = 234
78*4 = 312
78*5 = 390
78*6 = 468
78*7 = 546
78*8 = 624
78*9 = 702
78*10 = 780
78*11 = 858
78*12 = 936
78*13 = 1014
78*14 = 1092
78*15 = 1170
78*16 = 1248
78*17 = 1326
78*18 = 1404
78*19 = 1482
78*20 = 1560

## Question 10: Multiplication Table (Reverse)
Multiplication table in reverse order

In [42]:
num = int(input("Enter num:")) 
for i in range(10,0,-1):
    print(i,"*",num ,"=", i*num)

10 * 5 = 50
9 * 5 = 45
8 * 5 = 40
7 * 5 = 35
6 * 5 = 30
5 * 5 = 25
4 * 5 = 20
3 * 5 = 15
2 * 5 = 10
1 * 5 = 5

## Question 11: Multiplication Table (For Loop)
Multiplication table using for loop

In [43]:
num = int(input("Enter number:"))
for i in range(1,11):
    print(num*i)

6
12
18
24
30
36
42
48
54
60

## Question 12: Greet Names Starting with S
Greet all person names starting with S

In [46]:
l = ["Harry", "Soham", "Sachin", "Rahul"]
for name in l:
    if name.startswith('S'):
        print(f"Hello {name}")

Hello Soham
Hello Sachin

## Question 13: Fibonacci Series
Print fibonacci series up to 10 terms

In [ ]:
i = 0
a , b = 0 , 1

while i < 10:
    print(a)
    a, b = b, a + b
    i = i + 1

## Question 14: Factorial
Calculate factorial using for loop

In [48]:
num = int(input("Enter num:"))
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

24

## Question 15: Star Pattern
WAP to print the following star pattern:
```
*
***
*****
```

In [ ]:
for i in range(1, 4):
    print('*' * (2*i - 1))